{% extends 'test/_layout.twig' %}

{% block content %}
  <h1>Config option: <code>global_vars</code></h1>

  <h3><code>some_number * 100</code></h3>
  <blockquote>
    {{ some_number * 100 }}
  </blockquote>

  <h3><code>_context['with spaces']</code></h3>
  <blockquote>
    {{ _context['with spaces'] }}
  </blockquote>
{% endblock %}
