{% extends twigexpress_layout() %}

{% block content %}
  <h1>Config option: <code>global_vars</code></h1>

  <h3><code>test_data.some_number * 100</code></h3>
  <blockquote class="TestResult">
    {{ test_data.some_number * 100 }}
  </blockquote>

  <h3><code>test_data['with spaces']</code></h3>
  <blockquote class="TestResult">
    {{ test_data['with spaces'] }}
  </blockquote>
{% endblock %}
