{% extends twigexpress_layout() %}

{% block content %}
  <h1>TwigExpress tests</h1>
  <ul>
    <li>Manual tests for now.</li>
    <li>We’re only testing features specific to TwigExpress.</li>
    <li>Some tests require a test config in <code>twigexpress.json</code>.</li>
  </ul>
  <table class="LinkTable">
    <tr>
      <th>Page</th>
      <th>Twig source</th>
    </tr>
  {% for path in files('test/*.twig') %}
    {%- set url = '/' ~ path|replace({'.twig':''}) %}
    {%- set name = url|split('/')|last %}
    {% if name not in ['index', '_layout'] %}
    <tr>
      <td><a href="{{ url }}">{{ name }}</a></td>
      <td><a href="{{ url }}.twig">{{ name }}.twig</a></td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
  <h2>Test config</h2>
  <pre>{
  "debug_mode": true,
  "global_vars": {
    "test_data": {
      "some_number": 3.1415926535898,
      "with spaces": "Hey there"
    }
  },
  "namespaces": {
    "test_namespace": "./test"
  }
}</pre>
{% endblock %}
