{% extends twigexpress_layout() %}

{% block content %}
  <h1>TwigExpress tests</h1>
  <p><strong>Scope:</strong> We’re only testing features specific to TwigExpress. Manual tests for now.</p>
  <table class="LinkTable">
    <tr>
      <th>Page</th>
      <th>Twig source</th>
    </tr>
  {% for path in files('test/*.twig') %}
    {%- set url = '/' ~ path|replace({'.twig':''}) %}
    {%- set name = url|split('/')|last %}
    {% if name not in ['index', '_layout'] %}
    <tr>
      <td><a href="{{ url }}">{{ name }}</a></td>
      <td><a href="{{ url }}.twig">{{ name }}.twig</a></td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endblock %}
