{% extends 'test/_layout.twig' %}

{% block content %}
  <p>This page will show its own source code, as long as the <code>@testnamespace</code> namespace is understood:</p>
  <blockquote>
    <pre>
      {{- source('@testnamespace/namespace.twig')|e -}}
    </pre>
  </blockquote>
{% endblock %}
