:root {
    /* spacing */
    --pad: 1.6rem;
    --code: Consolas, Menlo, Ubuntu Mono, Source Code Pro, monospace;

    /* vim-hybrid colors, some modified for HTML+Twig use case */
    --black: #1d1f21;
    --white: #fafefc;
    --lighter-black: #373b41;
    --dark-gray: #707880;
    --mid-gray: #8a94a0;
    --base-gray: #b4b8b6;
    --lighter-gray: #dce0da;
    --lightest-gray: #eef2ef;
    --orange: #de935f;
    --yellow: #f0c674;
    --red: #cc6666;
    --green: #a5f38f;
    --purple: #b294bb;
    --light-purple: #b8c0f0;
    --blue: #81a2be;
    --dim-blue: #5b7a95;
    --aqua: #8abeb7;

    /* vibrant colors */
    --vibrant-blue: #27c;
    --vibrant-red: #ff6666;
    --vibrant-orange: #ffbb16;
    --vibrant-yellow: #ffea00;
    --vibrant-green: #44ea3c;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    line-height: 1.15;
    color: var(--lighter-black);
    background-color: var(--white);
}

@media (max-width: 700px) {
    :root {
        font-size: 87.75%;
        --pad: 1rem;
    }
}

@media (min-width: 900px) {
    :root {
        padding: 2em;
        background-color: var(--lightest-gray);
    }

    body {
        width: 58em;
        max-width: 100%;
        margin: 0 auto;
        border: solid 1px var(--lighter-gray);
    }
}

@media (min-width: 1600px) {
    :root {
        font-size: 112.5%;
        --pad: 2rem;
    }
}

a {
    color: #07a;
    color: var(--vibrant-blue);
}

header {
    padding: 1rem;
    padding: var(--pad);
    line-height: 1.2;
}

nav {
    font-size: 115%;
    font-weight: normal;
    color: var(--mid-gray);
    cursor: default;
}

nav:not(:last-child) {
    margin-bottom: 1em;
    padding-bottom: 1em;
    margin-top: calc(var(--pad) * -.15);
    margin-bottom: calc(var(--pad) * .65);
    padding-bottom: calc(var(--pad) * .50);
    border-bottom: dashed 1px;
    border-color: var(--lighter-gray);
}

nav * {
    display: inline-block;
    margin-right: .2em;
}

nav .item {
    padding: 4px 1px;
}

nav a {
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

h1 {
    margin: .75rem 0;
    font-size: 150%;
    font-weight: bold;
    line-height: 1.3;
    color: var(--lighter-black);
}

h2 {
    margin: .75rem 0;
    font-size: 105%;
    font-weight: normal;
    font-family: monospace, monospace;
    font-family: var(--code);
}

blockquote {
    margin: 0;
    padding-left: 1.1em;
    border-left: solid .4em;
    border-color: var(--vibrant-orange);
    line-height: 1.5;
}

header p {
    margin: 0;
}

header code {
    color: var(--dim-blue);
}

header .error {
    color: var(--red);
}

pre, code {
    font-family: monospace, monospace;
    font-family: var(--code);
}

pre {
    overflow: hidden;
    margin: 0;
    padding: 1rem;
    padding: var(--pad);
    font-family: inherit;
    white-space: pre-wrap;
    line-height: 1.5;
    color: var(--base-gray);
    background: var(--black);
}

code {
    font-size: 93.75%;
}

pre code {
    display: block;
}

pre mark {
    color: white;
    background: black;
}

.markError > :not(mark) {
    filter: saturate(0%);
}

/* Line numbers */

pre .lineNumbers {
    padding-left: 3ch;
}

pre [data-num] {
    display: inline-block;
    width: 3ch;
    overflow: hidden;
    position: absolute;
    text-align: right;
    margin-left: -4.5ch;
    color: var(--dark-gray);
}
pre [data-num]::before {
    content: attr(data-num);
}

/**
 * vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)
 * Ported to CSS variables for fun.
 * With modifications or additions in the case of Twig templates
 * (in order to make the templating tags more visible, and other
 * markup, especially HTML, more subdued).
 */

.hljs {
    display: block;
}

.hljs::selection,
.hljs ::selection {
    background: var(--lighter-black);
}

.hljs::-moz-selection,
.hljs ::-moz-selection {
    background: var(--lighter-black);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-subst {
    color: var(--base-gray);
}

.hljs-title,
.hljs-name,
.hljs-attr {
    color: var(--purple);
}

.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
    color: var(--dark-gray);
}

.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
    color: var(--red);
}

.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: var(--green);
}

.hljs-attribute,
.hljs-code,
.hljs-selector-id {
    color: var(--purple);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
    color: var(--blue);
}

.hljs-string,
.hljs-variable {
    color: var(--aqua);
}

.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
    color: var(--orange);
}

/* Special modifications for HTML tags (subtler look) */

.hljs-tag {
    color: var(--dim-blue);
}

.hljs-tag .hljs-name {
    color: var(--blue);
}

.hljs-tag .hljs-attr {
    color: var(--purple);
}

.hljs-tag .hljs-string {
    color: var(--mid-gray);
}

/* Special modifications for Twig tags and vars (vibrant look) */


.hljs-template-comment {
    color: var(--light-purple);
}

.hljs-template-tag {
    color: var(--vibrant-orange);
}

.hljs-template-tag .hljs-name,
.hljs-template-tag .hljs-keyword {
    color: var(--vibrant-yellow);
}

.hljs-template-variable {
    color: var(--green);
}

.hljs-template-variable .hljs-name {
    color: var(--vibrant-green);
}
