# Remove PHP source from zip downloads,
# only keeping twigexpress.phar|json and demo folder
/doc             export-ignore
/src             export-ignore
/test            export-ignore
/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/CHANGELOG.md    export-ignore
