## Multiviews can create issues with filename.ext.twig
## patterns (when accessed as filename.ext).
Options -Indexes -Multiviews

## Treat .phar as PHP
AddHandler application/x-httpd-php .phar

# Serve all requests with TwigExpress
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  # pass-through if another rewrite rule has been applied already
  # (simpler with Apache 2.3+, use a [L,END] flag on the RewriteRule)
  RewriteCond %{ENV:REDIRECT_STATUS} 200
  RewriteRule ^ - [L]
  # avoid redirection loops
  RewriteCond %{REQUEST_URI} !twigexpress\.phar
  RewriteRule (.*) twigexpress.phar/index.php [L]
</IfModule>
