
body > header {
  padding: 1rem;
  padding: var(--pad);
  line-height: 1.2;
}

body > header:empty {
  display: none;
}

body > header > :first-child {
  margin-top: calc(var(--pad) * -.15);
}

body > header > :last-child {
  margin-bottom: 0 !important;
}

body > header nav {
  line-height: 1;
  font-size: 1.125rem;
  color: var(--mid-gray);
  cursor: default;
}

body > header nav.border {
  padding-bottom: 1em;
  padding-bottom: var(--pad-small);
  border-bottom: dashed 1px;
  border-color: var(--lighter-gray);
}

body > header nav.border {
  margin-bottom: 1em;
  margin-bottom: var(--pad-small);
}

body > header nav > * {
  display: inline-block;
  margin-right: .1em;
}

body > header nav .sep {
  padding: 0 .15em;
  color: var(--base-gray);
}

body > header nav .item {
  padding: 4px 1px;
  font-weight: 600;
}

body > header nav span.item {
  color: var(--mid-gray);
}

body > header nav a {
  text-decoration: none;
}

body > header nav a:hover,
body > header nav a:focus {
  text-decoration: underline;
}
