
header {
  margin-bottom: .5rem;
  line-height: 1.2;
}

nav {
  line-height: 1;
  font-size: 1.125rem;
  color: var(--mid-gray);
  cursor: default;
}

header nav, header h1:first-child {
  margin-top: calc(var(--pad) * -.15);
}

header nav.border {
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-bottom: calc(var(--pad) * .65);
  padding-bottom: calc(var(--pad) * .65);
  border-bottom: dashed 1px;
  border-color: var(--lighter-gray);
}

nav > * {
  display: inline-block;
  margin-right: .1em;
}

nav .sep {
  padding: 0 .15em;
  color: var(--base-gray);
}

nav .item {
  padding: 4px 1px;
  font-weight: 600;
}

nav span.item {
  color: var(--mid-gray);
}

nav a {
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}
