/* Text content (e.g. for markdown previews) */

.Content {
  box-sizing: content-box;
  max-width: 52em;
  margin: 0 auto;
  padding: .5rem 1rem 1.5rem;
  padding-left: var(--pad);
  padding-right: var(--pad);
}

.Content:empty {
  display: none;
}

.Content:last-child {
  padding-bottom: calc(var(--pad) * 1.6);
}

.Content > :first-child {
  margin-top: 0 !important;
}

.Content > :last-child {
  margin-bottom: 0 !important;
}

.Content h1 {
  margin: 1em 0 .66em;
  font-size: 1.8em;
}

.Content h2 {
  margin-top: 1.25em;
  padding: .75rem 0;
  border-bottom: solid 1px;
  border-color: var(--lighter-gray);
}

@media (min-width: 900px) {
  .Content h1 {
    font-size: 2.2em;
  }
}

.Content h1 code,
.Content h2 code,
.Content h3 code,
.Content h4 code,
.Content a code {
  color: inherit;
}

.Content table {
  margin: 1.5em 0;
  border-collapse: collapse;
}

.Content th,
.Content td {
  text-align: left;
  padding: .5em 1em;
  border: solid 1px #f0f0f0;
}

.Content pre {
  margin: 1rem -1rem;
  margin: 1rem calc(var(--pad) * -1);
  padding: .75rem 1rem;
  padding: .75rem var(--pad);
  white-space: pre-wrap;
  font-family: monospace, monospace;
  line-height: 1.5;
  /* we're going to use inverted colors, so this ends up dark on white */
  color: var(--base-gray);
  background: var(--black);
}

@media (min-width: 900px) {
  .Content pre {
    margin-left: 0;
    margin-right: 0;
    padding: var(--pad-small);
    border-radius: 2px;
  }
}

/* Result in test pages */

.TestResult {
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #aaa;
  font-size: 85%;
  background: #f4f4f4;
}

.TestResult pre {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* Links in columns */

.Content .LinkTable {
  width: 100%;
  margin: 3em 0;
}
.Content .LinkTable td {
  padding: 0;
}
.Content .LinkTable a {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
}
