/* List of files or folders */

.Links {
  padding: 0 1rem 1rem;
  padding: 0 var(--pad) var(--pad);
  line-height: 1.3;
}

.Links-list {
  margin: 0 0 1rem;
  margin-bottom: var(--pad-small);
  padding: 0;
  list-style: none;
}

.Links-list li {
  position: relative;
}

.Links-list li + li {
  margin-top: -1px;
}

.Links-list .icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  margin-top: -.55em;
}

.Links-list a {
  position: relative;
  display: block;
  border: solid 1px;
  border-color: var(--lightest-gray, #ddd);
  padding: .5rem 1rem .65rem 3rem;
  text-decoration: none;
  font-size: 112.5%;
  color: #000;
  color: var(--dim-blue, #000);
}

.Links-list a:hover,
.Links-list a:focus {
  outline: none;
  color: #fff;
  background-color: #333;
  background-color: var(--dim-blue, #333);
}

@media (max-width: 600px) {
  .Links-list a {
    padding-top: .6rem;
    padding-bottom: .75rem;
  }
}

/* Color override for folders */

.Links-list--folders a {
  color: var(--dark-red, #000);
}

.Links-list--folders a:hover,
.Links-list--folders a:focus {
  color: #fff;
  background-color: #333;
  background-color: var(--dark-red, #333);
}

/* Column layout */

@media (min-width: 750px) {
  .Links-list:not(.Links-list--cols) {
    width: calc(50% - .375em);
  }
  .Links-list--cols {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: .75em;
    -moz-column-gap: .75em;
    column-gap: .75em;
  }
  .Links-list--cols li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
